* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
ul {
  list-style-type: none;
}

.logo {
  font-size: 3rem;
  color: #783ad6;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Navbar Links */
.navigation {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.nav-link {
  color: #783ad6;
  font-weight: 500;
  font-size: 1.75rem;
  text-decoration: none;
}

.nav-link:hover {
  color: #141c3a;
  border-bottom: 2px solid #141c3a;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

.burger-menu {
  color: #783ad6;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Say Hello Button Format */
.cta {
  background-color: transparent;
  border-width: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 9px 25px;
  color: #783ad6;
  border-color: #783ad6;
  border-radius: 50px;
  border-style: solid;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  color: white;
  background-color: #783ad6;
}

/* Welcome */
.hero {
  height: 100vh;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
}


.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


.my_name {
  font-size: 5rem;
  text-align: center;
  color: #141c3a;
  font-weight: 600;
}

.job_desc {
  font-size: 3rem;
  text-align: center;
  color: #141c3a;
  font-weight: normal;
}

.me {
  font-size: 3.5rem;
  text-align: center;
  color: #141c3a;
  font-weight: 300;
}

.tacos {
  z-index: 0;
  font-size: 3.5rem;
  text-align: center;
  color: #141c3a;
  font-weight: 300;
  animation-name: show_tacos;
  animation-duration: 5s; 
  animation-fill-mode: forwards;
}

@keyframes show_tacos {
  from{opacity: 0;}
  to{opacity: 1;}
}

/* Scroll me */
.scroll_me {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  color: #141c3a;
  animation-name: bounce1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/* Skills */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #141c3a;
  padding: 20px;
  margin: 10px;
}

/* Footer */
.footer {
  height: 100%;
  background-color: #783ad6;
  display: flex;
  flex-direction: column;
}

.footer_logo {
  height: 80px;
  width: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 2%;
  bottom: 5%;
  cursor: pointer;
}

.up-arrow {
  width: 4rem;
  height: 4rem;
  fill: #6d54ff;
}

.up-arrow:hover {
  fill: #141c3a;
}

/* Credits */
.by_me {
  text-align: center;
  color: rgba(255, 255, 255, 0.863);
  font-weight: 500;
  font-size: 12px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
}
