* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: 50%/contain url(/Images/universe.png) #141c3a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
}


/*---------------ANIMATIONS----------------*/
@keyframes bounce1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes shake1 {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-2px);
  }

  20%,
  40%,
  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(1px);
  }

  90% {
    transform: translateX(-1px);
  }
}

@keyframes show1 {
  from{opacity: 0;}
  to{opacity: 1;}
}


/* NAVBAR */
ul {
  list-style-type: none;
}

.logo {
  font-size: 3rem;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  z-index: 1;
}

/* Navbar Links */
.navigation {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 1.75rem;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid #fff;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

/*
.burger-menu {
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
*/

/* Say Hello Button Format */
.cta {
  color: #fff;
  background-color: transparent;
  border-width: 2px;
  font-weight: 500;
  font-size: 2rem;
  padding: 9px 25px;
  border-radius: 50px;
  border-style: solid;
  border-color: #fff;
  cursor: pointer;
}

.cta:hover {
  transition: all 0.3s ease 0s;
  color: white;
  background-color: #783ad6;
  border-color: #783ad6;
}

/* Welcome */
.hero {
  display:flow-root;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.my_name {
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
}

.job_desc {
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
}

.me {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 300;
}

.tacos {
  z-index: 0;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 300;
  animation-name: show1;
  animation-duration: 5s; 
  animation-fill-mode: forwards;
}

/* Scroll me */
.scroll_me {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  animation: bounce1 2s infinite, show1 5s forwards;
}

.arrow-scroll {
  fill: #fff;
}

/* About Me */
.container-about {
  display: flex;
  width: 100rem;
  margin: 0 auto;
}
.about-me {
  background-color: #783ad6;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  border: #783ad6;
  border-style: solid;
  border-radius: 11px;
}

.about-text {
  font-size: 2rem;
  margin: 1rem;
}

/* Skills */
.skills {
  max-width: 100rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 15.875rem;
  height: 15.25rem;
}

.icon:hover {
  animation: shake1 2s ease 0s 1 normal forwards;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 10px 10px #783ad6;
  padding: 20px;
  margin: 10px;
}

.icon-card:hover {
  box-shadow: 0 0;
  border-color: #783ad6;
  border-style: solid;
  border-width: 5px;
}


/* Footer */
.footer {
  height: 100%;
  background-color: #783ad6;
  display: flex;
  flex-direction: column;
}

.footer_logo {
  height: 80px;
  width: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

/* Scroll to top button */
.fa-circle-up {
  position: fixed;
  right: 2%;
  bottom: 5%;
  cursor: pointer;
  animation-name: bounce1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: #fff;
  font-size: 4rem;
}

.fa-circle-up:hover {
  transition: all 0.3s ease 0s;
}

/* Credits */
.by_me {
  text-align: center;
  color: rgba(255, 255, 255, 0.863);
  font-weight: 500;
  font-size: 12px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
}
