* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: 50%/contain url(/Images/universe.png) #141c3a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
}

hr {
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 1rem auto;
  background-color: #fff;
}

a {
  pointer-events: auto !important;
  cursor: pointer !important;
}

/*---------------ANIMATIONS----------------*/
@keyframes bounce1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

@keyframes shake1 {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-2px);
  }

  20%,
  40%,
  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(1px);
  }

  90% {
    transform: translateX(-1px);
  }
}

@keyframes show1 {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes entrance1 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
/*----------------END OF ANIMATIONS--------------------*/

.container{
  display: block;
}

/* NAVBAR */
nav ul {
  display: flex;
  list-style-type: none;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

nav {
  background-color: #783ad6;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  z-index: 2;
  box-shadow: 0 0 20px #fff;
}

nav a {
  transition: 0.3s;
}

/* Navbar Links */
.navigation {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
}

.nav-link:hover {
  color: #141c3a;
  border-bottom: 2px solid #141c3a;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul.show {
  transform: translateX(0);
}

.burger {
  margin: 0 0 0 0;
  display: inline;
}

.burger-menu {
  color: #fff;
  font-size: 3rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
  text-decoration: none;
}

.burger-menu-list {
  display: none;
  position: fixed;
  top: 6.8rem;
  right: 0;
  list-style-type: none;
  background-color: #783ad6;
  z-index: 1;
  text-align: center;
  margin-left: 50px;
  padding-bottom: 1rem;
}

.burger-link{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
 .burger-link:hover {
   color: #141c3a;
   text-decoration: underline;
 }

.burger-list {
  display: none;
}

@media screen and (max-width: 760px) {
  nav {
    box-shadow: none;
  }
  .nav-link {
    display: none;
  }  
  .burger-menu{
    display: flex;
  }
  .burger-menu-list {
    display:block;
  }
  .cta {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .burger-list {
    display: none;
  }
  
}


/* Say Hello Button Format */
.cta {
  color: #fff;
  background-color: transparent;
  border-width: 2px;
  font-weight: 500;
  font-size: 2rem;
  padding: 9px 25px;
  border-radius: 50px;
  border-style: solid;
  border-color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.cta:hover {
  transition: all 0.3s ease 0s;
  color: white;
  background-color: #141c3a;
  text-decoration: none;
}

/* Welcome */
.hero {
  display:  block;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
  position: relative;
  animation: entrance1 1s ease 0s 1 normal forwards;
}

.welcome {
  padding-top: 7rem;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.avatar:hover {
  animation: shake1 2s ease 0s 1 normal forwards;
}

.my_name {
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
}

.job_desc {
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
  text-decoration: underline;
}

.me {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 300;
}

.tacos {
  z-index: 0;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 300;
  animation-name: show1;
  animation-duration: 5s; 
  animation-fill-mode: forwards;
}

/* Scroll me */
.scroll-me {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  animation: bounce1 2s infinite, show1 5s forwards;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.arrow-scroll {
  fill: #fff;
  height: 1rem;
}

/* About Me */
.container-about {
  background-color: #783ad681;
  text-align: center;
  color: #fff;
  border: #783ad6;
  border-style: solid;
  border-radius: 11px;
  width: 100%;
  max-width: 100vh;
  margin: 0 auto;
}
.sub-about {
  font-size: 3rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
}
.about-text {
  font-size: 2rem;
  margin: 1rem;
}

.social {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.social-icon {
  padding: 1rem;
  font-size: 4rem;
  color: #fff;
}

.social-icon:hover {
  color: #141c3a;
}

/* Skills */
.skills {
  max-width: 100%;
  margin-top: 10rem;
  text-align: center;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 15.875rem;
  height: 15.25rem;
}

.icon:hover {
  animation: shake1 2s ease 0s 1 normal forwards;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 10px 10px #783ad6;
  padding: 20px;
  margin: 10px;
}

.icon-card:hover {
  box-shadow: 0 0;
  border-color: #783ad6;
  border-style: solid;
  border-width: 5px;
}

/* PROJECT SECTION*/

.projects-section {
  margin-top: 10rem;
  display: block;
  text-align: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #783ad6;
  border-radius: 11px;
  transition: 0.3s;
  text-decoration: none;
}

.project:hover {
  background-color: #141c3a;
  transform: translate(0, 10px);
}

.code {
  color: transparent;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
  text-decoration: underline;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-radius: 11px 11px 0 0;
}

.project-title {
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem 0.5rem;
  color: #fff;
  text-decoration: none;
}

.project:hover .project-title {
  color: #ff7f50;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* Scroll to top button */
.fa-circle-up {
  position: fixed;
  right: 2%;
  bottom: 5%;
  cursor: pointer;
  animation-name: bounce1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: #fff;
  font-size: 4rem;
}

.fa-circle-up:hover {
  transition: all 0.3s ease 0s;
}

/* Footer */
.footer {
  height: 100%;
  background-color: #783ad6;
  display: flex;
  flex-direction: column;
}

.footer_logo {
  height: 80px;
  width: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

/* Credits */
.by_me {
  text-align: center;
  color: rgba(255, 255, 255, 0.863);
  font-weight: 500;
  font-size: 12px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
}

